node_modules
npm-debug.log
yarn-error.log
package-lock.json

dist
build

.env
.env.*
!.env.example

.git
.gitignore
.gitattributes

.vscode
.idea
*.swp
*.swo
.DS_Store
Thumbs.db

coverage
*.spec.js
*.test.js
*.md

Dockerfile*
docker-compose*
