server:
  port: 8080

logging:
  level:
    root: WARN

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    prometheus:
      enabled: true

fiqo-db:
  host: ${FIQO_DB_HOST:localhost}
  port: ${FIQO_DB_PORT:5432}
  db: ${FIQO_DB_DATABASE:fiqo}
  username: ${FIQO_DB_USERNAME:admin}
  password: ${FIQO_DB_PASSWORD:admin123}
  url: jdbc:postgresql://${fiqo-db.host}:${fiqo-db.port}/${fiqo-db.db}

fiqo:
  backend-base-url: ${BACKEND_BASE_URL:http://localhost:8080}
  panel-base-url: ${PANEL_BASE_URL:http://localhost:5173}
  success-url: ${fiqo.panel-base-url}/login

storage:
  strategy: ${STORAGE_STRATEGY:s3}
  s3:
    base-url: ${MINIO_BASE_URL:http://localhost:9000}
    bucket: ${MINIO_BUCKET_NAME:fiqo}
    credentials:
      access-key: ${MINIO_ACCESS_KEY:admin}
      secret-key: ${MINIO_SECRET_KEY:admin123}
  avatar:
    path: avatars

jwt:
  access-exp-min: ${ACCESS_TOKEN_EXP_MIN:5}
  refresh-exp-min: ${REFRESH_TOKEN_EXP_MIN:30}
  access-key: ${ACCESS_TOKEN_KEY:561744090F30C5564F793305AB783BC96545E88EE42A7ED0CED578C72CE132A3}
  refresh-key: ${REFRESH_TOKEN_KEY:561744090F30C5564F793305AB783BC96545E88EE42A7ED0CED578C72CE132A3}

spring:
  datasource:
    url: ${fiqo-db.url}
    driver-class-name: org.postgresql.Driver
    username: ${fiqo-db.username}
    password: ${fiqo-db.password}

  jpa:
    show-sql: false
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
      format_sql: true
    database: postgresql

  flyway:
    enabled: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:YOUR_GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET:YOUR_GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email
            redirect-uri: ${fiqo.backend-base-url}/login/oauth2/code/google
            redirect-uri-login: ${fiqo.panel-base-url}/google-callback-login.html
            redirect-uri-connect: ${fiqo.panel-base-url}/google-callback-connect.html
            authorization-grant-type: authorization_code
          github:
            client-id: ${GITHUB_CLIENT_ID:YOUR_GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET:YOUR_GITHUB_CLIENT_SECRET}
            scope:
              - read:user
              - user:email
            redirect-uri: ${fiqo.backend-base-url}/login/oauth2/code/github
            redirect-uri-login: ${fiqo.panel-base-url}/github-callback-login.html
            redirect-uri-connect: ${fiqo.panel-base-url}/github-callback-connect.html
            authorization-grant-type: authorization_code
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://openidconnect.googleapis.com/v1/userinfo
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            email-uri: https://api.github.com/user/emails

  mail:
    host: ${SMTP_HOST:smtp.gmail.com}
    port: ${SMTP_PORT:587}
    username: ${SENDER_EMAIL:mansurcildir@gmail.com  }
    password: ${SENDER_EMAIL_PASSWORD:qhcj mvso cfpz pahx}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
